@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 1024px) { 
    body {
        background-image: linear-gradient(to top, #0A0A0A, #022375);
    } 
   section#login {
    width: 80vw;
    height: 300px;
   }

   section#login > div#imagem {
    float: left;
    width: 40%;
    height: 100%;
}

section#login > div#formulario {
    float: right;
    width: 60%;
}
}

@media screen and (min-width: 1024px) {

    body {
        background-image: linear-gradient(to top, #0A0A0A, #022375);
    }
    
    section#login {
        width: 850px;
        height: 400px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > p {
        font-size: 1.2em;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    #divformulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }
   
}
